package city

templ Editor() {
	<html>
		<head>
			<title>City Editor</title>
			<link rel="stylesheet" href="/css/editor.css"/>
			<link rel="stylesheet" href="/css/dialog.css"/>
		</head>
		<body>
			// Canvas
			<h1>City Editor</h1>
			<canvas id="editorCanvas"></canvas>
			<div id="dialog" class="jw-modal">
				<div class="jw-modal-body">
					<h1>A custom modal popup</h1>
					<button type="button" class="jw-modal-close">yes</button>
					<button type="button" class="jw-modal-close">no</button>
				</div>
			</div>
			<div id="controls">
				<button onclick="dispose()">🗑️</button>
				<button id="saveBtn">💾</button>
				<label for="fileInput" class="file-input-label">
					📂
					<input type="file" id="fileInput" accept=".world" onchange="load(event)"/>
				</label>
				<button onclick="openOsmPanel()">🗺️</button>
				&nbsp;
				<button id="graphBtn">️🌐</button>
				<button id="startBtn" onclick="setMode('start')">️🏎️</button>
				<div id="osmPanel" style="display:none;">
					<textarea id="osmDataContainer" placeholder="Paste OSM data here" rows="10" cols="50"></textarea>
					<div>
						<button onclick="loadOsmData()">✔️</button>
						<button onclick="closeOsmPanel()">❌</button>
					</div>
				</div>
			</div>
			<script type="module" src="/js/primitives/point.js"></script>
			<script type="module" src="/js/primitives/segment.js"></script>
			<script type="module" src="/js/math/graph.js"></script>
			<script type="module" src="/js/math/utils.js"></script>
			<script type="module" src="/js/viewport.js"></script>
			<script type="module" src="/js/world.js"></script>
			<script type="module" src="/js/load.js"></script>
			<script type="module" src="/js/utils/consts.js"></script>
			<script type="module" src="/js/editors/networkEditor.js"></script>
			<script type="module" src="/js/emain.js"></script>
		</body>
	</html>
}
