package VirtualWorld

templ Index() {
	<html>
		<head>
			<title>World Editor</title>
			<link rel="stylesheet" href="/vw-css/index.css"/>
		</head>
		<body>
			// Canvas
			<h1>World Editor</h1>
			<canvas id="theCanvas"></canvas>
			<div id="controls">
				<button onclick="dispose()">🗑️</button>
				<button onclick="save()">💾</button>
			</div>
			<script src="/vw-js/primitives/point.js"></script>
			<script src="/vw-js/primitives/segment.js"></script>
			<script src="/vw-js/primitives/envelope.js"></script>
			<script src="/vw-js/primitives/polygon.js"></script>
			<script src="/vw-js/math/graph.js"></script>
			<script src="/vw-js/math/utils.js"></script>
			<script src="/vw-js/items/tree.js"></script>
			<script src="/vw-js/items/building.js"></script>
			<script src="/vw-js/viewport.js"></script>
			<script src="/vw-js/graphEditor.js"></script>
			<script src="/vw-js/world.js"></script>
			<script src="/vw-js/main.js"></script>
		</body>
	</html>
}
