package VirtualWorld

templ Index() {
	<html>
		<head>
			<title>World Editor</title>
			<link rel="stylesheet" href="/vw-css/index.css"/>
		</head>
		<body>
			// Canvas
			<h1>World Editor</h1>
			<canvas id="theCanvas"></canvas>
			<div id="controls">
				<button onclick="dispose()">🗑️</button>
				<button onclick="save()">💾</button>
				&nbsp;
				<button id="graphBtn" onclick="setMode('graph')">️🌐</button>
				<button id="stopBtn" onclick="setMode('stop')">🛑️</button>
				<button id="yieldBtn" onclick="setMode('yield')">️⚠️</button>
				<button id="crossingBtn" onclick="setMode('crossing')">️🚶</button>
				<button id="parkingBtn" onclick="setMode('parking')">️️🅿️</button>
				<button id="lightBtn" onclick="setMode('light')">️🚦</button>
				<button id="startBtn" onclick="setMode('start')">️🏎️</button>
				<button id="targetBtn" onclick="setMode('target')">️️🎯</button>
			</div>
			<script src="/vw-js/primitives/point.js"></script>
			<script src="/vw-js/primitives/segment.js"></script>
			<script src="/vw-js/primitives/envelope.js"></script>
			<script src="/vw-js/primitives/polygon.js"></script>
			<script src="/vw-js/math/graph.js"></script>
			<script src="/vw-js/math/utils.js"></script>
			<script src="/vw-js/markings/marking.js"></script>
			<script src="/vw-js/markings/stop.js"></script>
			<script src="/vw-js/markings/crossing.js"></script>
			<script src="/vw-js/markings/start.js"></script>
			<script src="/vw-js/markings/parking.js"></script>
			<script src="/vw-js/markings/light.js"></script>
			<script src="/vw-js/markings/target.js"></script>
			<script src="/vw-js/markings/yield.js"></script>
			<script src="/vw-js/items/tree.js"></script>
			<script src="/vw-js/items/building.js"></script>
			<script src="/vw-js/viewport.js"></script>
			<script src="/vw-js/world.js"></script>
			<script src="/vw-js/editors/graphEditor.js"></script>
			<script src="/vw-js/editors/markingEditor.js"></script>
			<script src="/vw-js/editors/stopEditor.js"></script>
			<script src="/vw-js/editors/crossingEditor.js"></script>
			<script src="/vw-js/editors/startEditor.js"></script>
			<script src="/vw-js/editors/parkingEditor.js"></script>
			<script src="/vw-js/editors/lightEditor.js"></script>
			<script src="/vw-js/editors/targetEditor.js"></script>
			<script src="/vw-js/editors/yieldEditor.js"></script>
			<script src="/vw-js/main.js"></script>
		</body>
	</html>
}
