.confirm-dialog {
  display: none;

  position: fixed;
  inset: 0;
  z-index: 10000;

  background-color: rgba(0, 0, 0, .75);
  padding: 40px;

  overflow: auto;
}

.confirm-dialog.open {
  display: block;
}

.confirm-dialog-body {
  padding: 20px;
  background: #fff;
}

.confirm-dialog-title {
  color: #000;
}

.confirm-dialog-text {
  color: #000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.confirm-dialog-yes {
  border: 2px solid #000;
}

.confirm-dialog-no {
  border: 2px solid #000;
}

body.confirm-dialog.open {
  overflow: hidden;
}