package TwoD

templ Index() {
	<html>
		<head>
			<title>2D</title>
			<link rel="stylesheet" href="/css/index.css"/>
		</head>
		<body>
			<canvas id="myCanvas"></canvas>
			// Javascript files
			<script src="/js/network.js"></script>
			<script src="/js/utils.js"></script>
			<script src="/js/sensor.js"></script>
			<script src="/js/road.js"></script>
			<script src="/js/controls.js"></script>
			<script src="/js/car.js"></script>
			<script src="/js/main.js"></script>
		</body>
	</html>
}
